@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-box-shw {
  border-radius: 12px;
  width: 100%;
  border: 1px solid #e9e9e9;
  background: #ffffff;
  box-shadow: 0px 5px 20px 0px #00000014;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px -2px 12px 0px #ebebeb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
